@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mont;
  }
  h1,
  h2,
  h3,
  p {
    @apply font-lato;
  }
  .width-custom {
    @apply w-11/12 md:w-4/6 transition-all duration-1000 px-4;
  }
}
@layer components {
  .header-main {
    @apply bg-gradient-to-r from-amber-100 from-10% to-amber-300 text-transparent bg-clip-text my-4;
  }
  .header-link {
    @apply font-extrabold bg-gradient-to-r from-amber-100 from-50% to-cyan-500 text-transparent bg-clip-text my-4;
  }
  .title {
    @apply bg-gradient-to-r from-amber-100 from-10% to-amber-300 text-transparent bg-clip-text my-4 pb-2 text-2xl md:text-6xl font-bold transition-all duration-500;
  }
  .color-title {
    @apply tracking-normal text-transparent bg-gradient-to-r from-orange-800  to-orange-700 bg-clip-text my-4 pb-2 text-6xl font-bold;
  }
  .subtitle {
    @apply font-extrabold bg-gradient-to-r from-amber-100 from-40% to-cyan-500 text-transparent bg-clip-text my-4 text-sm md:text-xl transition-all duration-500;
  }
  .skill-name {
    @apply text-sm text-center bg-gradient-to-r from-amber-100 from-40% to-cyan-500 text-transparent bg-clip-text my-4;
  }
  .github-link {
    @apply bg-gradient-to-r from-cyan-500 to-amber-200 scale-125;
  }
}

@keyframes rainbow-text {
  0% {
    background-color: #ff0000;
    color: #00ffff;
  }
  14% {
    background-color: #ff7f00;
    color: #0080ff;
  }
  28% {
    background-color: #ffff00;
    color: #0000ff;
  }
  42% {
    background-color: #00ff00;

    color: #ff00ff;
  }
  57% {
    background-color: #0000ff;
    color: #ffff00;
  }
  71% {
    background-color: #8b00ff;
    color: #74ff00;
  }
  85% {
    background-color: #ff00ff;
    color: #00ff00;
  }
  100% {
    background-color: #ff0000;
    color: #00ffff;
  }
}

.animate-rainbow-text {
  animation: rainbow-text 20s linear infinite;
}
