@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-mont;
  }
  h1,
  h2,
  h3,
  p {
    @apply font-lato;
  }
  .width-custom {
    @apply w-11/12 px-4 md:w-4/6;
  }
  .text-drop {
    @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)];
  }
}
@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-amber-100 from-10% to-amber-300 bg-clip-text text-transparent;
  }
  .color-gradient-text {
    @apply bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text tracking-normal text-transparent;
  }
  .header-main {
    @apply gradient-text my-4;
  }
  .color-header-main {
    @apply text-drop my-4 bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text tracking-normal text-transparent;
  }
  .header-link {
    @apply my-4 bg-gradient-to-r from-amber-100 from-50% to-cyan-500 bg-clip-text font-extrabold text-transparent;
  }
  .title {
    @apply gradient-text text-drop my-4 pb-2 text-2xl font-bold transition-all duration-500 md:text-6xl;
  }
  .color-title {
    @apply text-drop my-4 bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text pb-2 text-2xl font-bold tracking-normal text-transparent transition-all duration-500 md:text-6xl;
  }
  .subtitle {
    @apply text-drop my-4 bg-gradient-to-r from-amber-100 from-40% to-cyan-500 bg-clip-text text-sm text-transparent transition-all duration-500 md:text-xl;
  }
  .color-subtitle {
    @apply text-drop my-4 bg-gradient-to-r from-pink-600 to-purple-600 bg-clip-text text-sm tracking-normal text-transparent transition-all duration-500 md:text-xl;
  }
  .color-skill-title {
    @apply text-zinc-100;
  }
  .skill-name {
    @apply my-4 bg-gradient-to-r from-amber-100 from-40% to-cyan-500 bg-clip-text text-center text-sm font-bold text-transparent;
  }
  .color-skill-name {
    @apply my-4 text-center text-sm font-bold text-zinc-800;
  }
  .visit-link-title {
    @apply gradient-text text-drop my-4 pb-2 text-2xl font-bold transition-all duration-500 md:text-4xl;
  }
  .color-visit-link-title {
    @apply color-gradient-text text-drop my-4 pb-2 text-2xl font-bold transition-all duration-500 md:text-4xl;
  }
  .visit-link {
    @apply bg-gradient-to-l from-amber-50 to-amber-200;
  }
  .color-visit-link {
    @apply bg-gradient-to-r from-cyan-400 to-lime-300;
  }
  .footer-container {
    @apply width-custom container mx-auto flex flex-col items-center justify-center gap-8 px-4 sm:grid sm:grid-cols-2 sm:place-items-center md:gap-10 lg:flex lg:flex-row lg:items-center lg:justify-center lg:gap-24;
  }
}

@keyframes rainbow-text {
  0% {
    background-color: #ff0000;
    color: #00ffff;
  }
  14% {
    background-color: #ff7f00;
    color: #0080ff;
  }
  28% {
    background-color: #ffff00;
    color: #0000ff;
  }
  42% {
    background-color: #00ff00;

    color: #ff00ff;
  }
  57% {
    background-color: #0000ff;
    color: #ffff00;
  }
  71% {
    background-color: #8b00ff;
    color: #74ff00;
  }
  85% {
    background-color: #ff00ff;
    color: #00ff00;
  }
  100% {
    background-color: #ff0000;
    color: #00ffff;
  }
}

.animate-rainbow-text {
  animation: rainbow-text 20s linear infinite;
}
